*{
  padding:0px;
  margin:0px;
  text-align: center;
}
.App {
  display:flex;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
}
.quizbox{
  background-color: cadetblue;
  margin-top: 30px;
  height:450px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
h4{
  margin-top:30px;
}
